/* Stylesheet for vote.html */


/* Background Images for Correct Answers */
body.correct1{
	background: url("images/JamesHardenPic.67b62f2dd381.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct2{
	background: url("images/LebronJamesPic.de1e49ab981b.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct3{
	background: url("images/AndreDrummondPic.8d3ffb3b8698.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct4{
	background: url("images/BenSimmonsPic.2e90e1b7a07a.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct5{
	background: url("images/HassanWhitesidePic.48517ed3a6b5.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct6{
	background: url("images/SekouDeoumbouyaPic.a6366b609e2c.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct7{
	background: url("images/VinceCarterPic.257a938a538f.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct8{
	background: url("images/TackoFallPic.08f82c187fe9.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}

body.correct9{
	background: url("images/GiannisAntetokounmpoPic.54c182a967c3.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}
body.correct10{
	background: url("images/MichaelJordanPic.0a1a1464d928.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}


body.correct11{
	background: url("images/MichaelJordanPic.0a1a1464d928.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}


body.correct12{
	background: url("images/MichaelJordanPic.0a1a1464d928.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;
}




/* Background images for incorrect answers */
body.wrong{
	background: url("images/MutumboPicWrong.ddc4c804acb1.gif")no-repeat;
	background-size: 100% auto;
	height: 100 px;
	width: 100 px;
	color: white;

}




/* Custom text for templating */
h1.customtextcorrect {
	color: white;
}

h1.customtextwrong {
	color: red;
}